{% extends 'base.html' %}
{% block title %}User Detail{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="display-4">Welcome {{user.first_name}} {{user.last_name}}!</h1>
    <p> Email: {{user.email}}</p>
    <div>
        <h2>Notes</h2>
            <ul>
                {% for note in user.notes %}      
                <span class="mx-3">
                    <li>
                        <form>
                            <button 
                                type="submit" 
                                formaction="/notes/{{ note.id }}/delete" formmethod="POST" 
                                class="btn btn-primary"> 
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button 
                                type="submit" 
                                formaction="/notes/{{ note.id }}/update" formmethod="GET" 
                                class="btn btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <span>{{ note.title }}</span>
                            <span 
                                class="d-inline-block text-truncate" style="max-width: 150px;">
                                <small>
                                    {{ note.content }}
                                </small>
                            </span> 
                        </form>
                    </li>
                </span>
                {% endfor %}
            </ul>

            <form >
                <button 
                    class="btn btn-primary btn-lg" 
                    type="submit" 
                    formaction="/users/{{ user.username }}/notes/add" 
                    formmethod="GET">Add Note
                </button>
                <br>
                <button 
                    class="btn btn-danger mt-3" 
                    type="submit" 
                    formaction="/users/{{ user.username }}/delete" 
                    formmethod="POST">Delete User
                </button>
            </form>
    </div>
  
</div>

{% endblock %}